// body {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }

// #root {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   flex-direction: column;

//   p {
//     font-size: 2rem;
//     font-weight: 100;
//   }
// }
