name: Compile and lint TypeScript and JavaScript, lint and do static type checking in Python

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies using Node.js ${{ matrix.node-version }}
      run: yarn install
    - name: Check using Node.js ${{ matrix.node-version }}
      run: yarn compile-and-lint
      env:
        CI: true
    - name: Install python tools
      run: pip install flake8 && npm install -g pyright
    - name: Preapre Python code
      run: pip install -e backend/jupyter-middleware
    - name: Check Python code
      run: flake8 backend && pyright backend
